{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cinema Cafe{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'booking/css/base.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href="/" class="nav-logo">
            <img src="{% static 'booking/images/logo.png' %}" alt="Cinema Cafe" height="75">
        </a>
        <ul class="nav-links">
            <li><a href="#">About</a></li>
            <li><a href="/repertoire/">Book</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>

    <div class="{% block body_class %}{% endblock %}">
        {% block content %}{% endblock %}
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>